/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    word-break: break-word;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: Lato;
}

html {
    overflow-x: hidden;
}

body {
    min-width: 1500px;
    /*background-color: #55f0b9;*/
    background-color: #29d598;
    font-size: 15px;
    z-index: 2;
    -webkit-transition: 0.6s ease all;
    transition: 0.6s ease all;
}

span {
    letter-spacing: 0px;
}

text, p {
    color: black;
}

h1,
h3 {
    text-transform: uppercase;
    margin-bottom: 0px;
    font-weight: 100;
}

h2 {
    margin-top: 0px;
}

textarea {
    height: 25px;
    width: 100%;
    border: none;
    border-style: none;
    background: transparent;
    overflow-y: hidden;
    resize: none;
    outline: none;
    display: inline-block;
    vertical-align: top;
    font-weight: 100;
}

textarea:hover {
    border: none;
    border-style: none;
}

input {
    border: none;
    border-style: none;
    background: transparent;
    /*overflow-y: hidden;*/
    resize: none;
    outline: none;
    display: inline-table;
    vertical-align: middle;
}

.skillRatingsWrite .skillRating {
    display: inline;
}

.skillRatingsWrite {
    text-align: right;
    margin-bottom: 5px;
}

.skillRatingsSpeak .skillRating {
    display: inline;
}

.cv {
    padding: 50px;
    box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.25);
    margin-top: 4em;
    width: 31.5cm;
    height: 44.5cm;
    background-image: url(../assets/images/backgroundPaper.jpg);
}

.wrapper .topBar {
    background-color: lightseagreen;
    width: 100%;
    z-index: 1;
}

.topBar .right {
    float: right;
    color: white;
    margin: 0;
    padding: 5px 0;
}

.topBar .right > a, a:hover {
    text-decoration: none;
    cursor: pointer;
}

.topBar:before {
    content: "";
    height: 45px;
    width: 45px;
    position: absolute;
    left: 35px;
    background-image: url(../assets/images/backgroundPaper.jpg);
}

.content {
    padding-bottom: 25px;
    margin-bottom: 50px;
}

.title {
    margin-bottom: 0;
}

.subTitle {
    color: teal;
    margin-top: 0;
}

.personalInformation .col-sm-4 {
    padding-top: 10px;
}

div.profileSummary {
    margin-left: 5px;
}

.profileSummary > .TextArea {
    padding-left: 15px;
}

.profileSummaryFix {
    line-height: 9px;
    list-style-type: none;
}

.profilePicture {
    padding: 25px 12.5px 0px 12.5px;
    margin-right: 30px;
    margin-bottom: 30px;
    max-width: 225px;
    max-height: 225px;
    z-index: 2;
    overflow: hidden;
}

.profilePicture > img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.headline {
    display: inline-block;
    width: 90%;
    margin-bottom: 0;
}

.smallText {
    font-size: 12px;
    padding-bottom: 6px;
}

.smallText > span {
    font-size: 12px;
    padding-right: 8px;
}

.empty {
    content: " ";
}

.skillItems,
.skillRatings,
.languages,
.languageSpeakingSkillRatings,
.languageWritingSkillRatings {
    list-style: none;
}

.work,
.Intrests > img {
    margin-left: 40px;
    position: relative;
}

.educationItem,
.certifications {
    position: relative;
}

.education {
    margin-left: 23px;
}

.educationItem .TextInput {
    margin-top: 0px;
}

.work {
    margin-top: 20px;
}

.work .TextInput {
    margin-top: 0;
    width: 100%;
}

.work .TextArea {
    margin-top: 0px;
}

.work ul {
    padding-left: 0px;
}

.educationBlock,
.workExperience {
    margin-left: 20px;
}

.profileSummary {
    word-wrap: break-word;
    margin-left: 15px;
}

.customBullet {
    position: absolute;
    left: -30px;
    margin-top: 2px;
    background-color: white;
}

.customBullet:hover {
    cursor: default;
}

.before,
.educationName:before {
    font-family: FontAwesome;
    content: "\f10c";
    background-color: white;
    position: absolute;
    left: 26.5px;
    margin-top: 2px;
    font-size: 15px;
}

.work,
.educationObjects,
.bordercontainer .dividers {
    margin-left: 23px;
}

.educationItem {
    padding-bottom: 10px;
}

.languageContainer {
    text-align: right;
}

.languages,
.skillItems {
    padding-left: 24px;
}

.languages {
    padding-left: 0px;
}

.languageWritingSkill.languageSpeakingSkill.smallText > span {
    padding-left: 11px;
    padding-right: 23px;
}

.skillRatings {
    text-align: right;
}

.certificationItems {
    padding-left: 15px;
}

.languageContainer {
    padding-right: 0;
    padding-left: 70px;
}

.dividers {
    margin-bottom: 10px;
    margin-top: 0px;
    padding-right: 0;
}

#workItems,
.educationObjects {
    border-left: 1px dotted rgba(0, 0, 0, 0.5);
    padding-top: 5px;
}

.educationObjects {
    padding-left: 23px;
    margin-left: 0;
}

.Intrests > img {
    max-width: calc(100% - 40px);
    height: auto;
}

.divider.fat.dividerfix {
    width: 5%;
}

.divider.thin.dividerfix {
    width: 95%;
}

.divider.fat {
    width: 10%;
    height: 2px;
    background: white;
    border-bottom: 2px solid black;
    position: relative;
    display: inline-block;
}

.divider.thin {
    width: 90%;
    height: 2px;
    background: white;
    border-bottom: 2px solid black;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    display: inline-block;
}

.skillSeperator {
    display: inline-block;
    margin-right: 10px;
}

.hiding {
    visibility: hidden;
}

.col-sm-12.language {
    text-align: right;
}

.languageItems {
    margin-left: 20px;
}

.languageWritingSkill.languageSpeakingSkill {
    margin-right: 10px;
}

.icono-cross,
.icono-plus,
.fa-cog {
    color: teal;
}

.fa-cog {
    vertical-align: middle;
    font-size: 20px;
}

.headline > .icono-plus:hover {
    cursor: default;
}

.icono-cross:hover,
.icono-plus:hover {
    cursor: pointer;
}

.fa.fa-linkedin {
    margin-left: 2px;
}

.fa.fa-linkedin > span > textarea {
    text-decoration: underline;
    width: auto;
    margin-top: 5px;
}

.glyphicon.glyphicon-map-marker > p {
    padding-left: 37px;
}

.profileSummaryFix > span,
.glyphicon > span {
    padding-left: 10px;
}

.glyphicon > span > textarea {
    width: auto;
}

.glyphicon > ul {
    padding-left: 30px;
    padding-bottom: 15px;
}

.fa.fa-circle {
    cursor: pointer;
    color: rgba(0, 128, 128, 0.50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    padding-right: 7px;
    padding-bottom: 7px;
}

.editing {
    width: 100%;
    white-space: normal;
    word-break: break-all;
}

.topBar,
.content {
    float: right;
}

.sidebar {
    max-width: 300px;
    position: fixed;
    float: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    padding: 50px 0 30px 0;
    margin-right: 10px;
    height: 100%;
}

.sidebar > .col-sm-12,
.sidebar > .col-sm-12 > .sidebarHeader {
    padding-left: 0;
    padding-right: 0;
}

.bngLogo {
    height: 15px;
    padding-bottom: 2px;
}

.sidebarLogo {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    text-align: center;
}

.sidebarLogo .logo {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.sidebarLogo .logo.gone {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
}

.sidebarContent {
    padding-left: 0;
    padding-right: 0;
}

.options {
    padding: 0 0 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.option {
    color: white;
    margin-left: 55px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.option span {
    padding-left: 25px;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
}

.option:hover {
    cursor: pointer;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.download {
    text-align: center;
    background-color: #29d598 !important;
    margin-top: 10px;
    margin-left: 20%;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 35px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 47px;
    line-height: 21.3333px;
    margin-bottom: 0px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    text-align: left;
    text-decoration: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 179px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: 0.6s ease all;
    transition: 0.6s ease all;
}

.download:after {
    font-family: fontAwesome;
    content: "\f019";
    padding-left: 20px;
    color: white;
}

.download:hover:after {
    color: #4ecea0;
}

.download:hover {
    color: #4ecea0;
    background: white;
}

.title,
.subTitle,
.glyphicon-user,
.glyphicon-phone,
.glyphicon-envelope,
.linkedin,
.glyphicon-map-marker,
.profileSummary,
.workInformation,
.workPlace,
.workTask,
.educationName,
.educationLocation,
.educationInformation,
.skillItem,
.certificationItem,
.Intrests > img {
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.glyphicon-envelope,
.widthFix {
    width: 100%;
}

.widthFix .TextArea {
    width: 80%;
}

.modal-header {
    border-bottom: 0px;
}

.modal-footer {
    border-top: 0px;
}

.container {
    padding-bottom: 140px;
}

.popover-example {
    margin: 0 0 10px;
    list-style: none;
}

.popover {
    width: 300px;
    height: 200px;
}

.popover-example li {
    display: inline-block;
    margin: 4px;
    padding: 0px;
}

.modExample .btn {
    margin: 4px 8px 4px 0;
}

[class*=icono-cross],
[class*=icono-plus] {
    margin: 0px;
}

.tool {
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 0 25%;
    bottom: 0;
    height: 0;
    background-color: white;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    -webkit-transition: -webkit-transform .5s;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    border-top: 2px solid black;
    height: auto;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.active {
    border-top: 2px solid black;
    height: auto;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.tool .tip {
    padding: 10px 15% 10px 0;
}

.closeIt {
    position: absolute;
    left: 22%;
    top: 5%;
}

#profileTip,
#intrestsTip,
#certificationTip,
#languageTip,
#educationTip,
#workTip,
#skillsTip {
    display: none;
}

#profileTip.show,
#intrestsTip.show,
#certificationTip.show,
#languageTip.show,
#educationTip.show,
#workTip.show,
#skillsTip.show {
    display: inline-block;
}

.skillpoints {
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.skillpoints:hover ~ div {
    opacity: 0.2;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.skillSeperator.slider .skillpoints,
.skillRating.slider .skillpoints {
    z-index: 2;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-clip: initial;
}

.skillRating .last,
.skillSeperator .last,
.skillpoints:last-child,
.skillpoints:last-child > div {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.skillpoints:first-child,
.skillpoints:first-child > div {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.skillSeperator.dot .skillpoints,
.skillRating.dot .skillpoints {
    height: 17px;
    width: 17px;
    margin-right: 3px;
    border-radius: 50%;
    display: inline-block;
}

.skillSeperator.bar .skillpoints,
.skillRating.bar .skillpoints {
    height: 20px;
    width: 10px;
    margin-right: 10px;
    border-radius: 5px;
    display: inline-block;
}

.skillSeperator.slider .skillfix,
.skillRating.slider .skillFix {
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.skillSeperator {
    float: left;
    margin-bottom: 5px;
}

.right {
    float: right;
    margin-right: 25px;
    margin-top: 5px;
    position: relative;
}

.rightCog {
    position: relative;
    width: auto;
}

.show {
    display: inline-block;
}

.hiddenPopOver {
    background: #50c8b4;
    width: 150px;
    height: auto;
    position: absolute;
    top: -70px;
    right: -20px;
    border-radius: 25px;
    z-index: 3;
    box-shadow: 0 0 32px -5px rgba(0,0,0,.75);
}

.divider.thin.full {
    width: 100%;
    color: black; opacity: 0.7
}

.hiddenSettings {
    text-align: right;
    display: table;
}

.hiddenSettings .fa-circle {
    opacity: 0.5;
    color: white;
}

.hiddenSettings .fa-circle:hover {
    color: white;
    transition: all .2s ease-in;
    opacity: 0.9;
}

.hiddenSettings > p {
    font-size: 10.5px;
    text-align: left;
    margin-bottom: 0;
    margin-right: 1em;
    background-color: rgba(0, 128, 128, 0.68);
    color: #fff;
    padding: 1.5em 7px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.sliderOptions, .hiddenSettings > p {
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
}

.fa.fa-circle.sliderOptions {
    padding-bottom: 0px;
    padding-left: 7px;
    border-left: 1px solid #f1f0f0;
}
.pointer {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    background-color: white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    top: -35px;
    right: -2.5px;
    z-index: 2;
}

.hide-false {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
}

.hide-true {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.display-pie {
    display: inline-block;
    opacity: 1 !important;
    transition: all 0.3s ease;
    transform: translateX(0px);
}

.hidden-pie {
    opacity: 0;
    transform: translateY(-15px);
    visibility: hidden;
    transition: all 0.3s ease;
}

.fa.fa-circle.sliderOptions.activated {
    color: white;
    opacity: 0.9;
}

/*Sidebar Overlay*/

.sidenav {
    height: 100%;
    min-width: 300px;
    position: fixed;
    z-index: 3;
    top: 0;
    background-color: white;
    overflow-x: hidden;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.visible {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
}

.TextInput {
    height: 20px;
    font-size: 16px;
}

.language > input {
    margin-top: 0px;
}

.workR {
    margin-top: 0px;
    margin-left: 40px;
}

ul.circle {
    list-style-type: circle;
}

.certifications {
    margin-top: 10px;
    position: relative;
}

input[type=range] {
    display: inline;
    width: 50%;
}

.Slider button {
    margin-left: 15px;
}

.sliderContainer {
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-info {
    margin-right: 5px;
}

.save-button {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.optionsOrb {
    opacity: 1;
    background-color: teal;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    right: 5%;
}

.pieOptions {
    background: white;
    position: absolute;
    border-radius: 5px;
    top: 30px;
    opacity: 0;
    padding: 1em;
    color: #000;
    width: 270px;
    height: auto;
    position: absolute;
    right: -60px;
    z-index: 3;
    box-shadow: 0 0 32px -5px rgba(0,0,0,.75);
}

.pieOptions > h2 {
    text-align: center;
}

.pieOptions > hr {
    margin: 0;
}

.pieOptions > span {
    font-size: 16px;
    padding-left: 5px;
    line-height: 35px;
}

.linked {
    padding-left: 10px;
}

.skills {
    margin-top: 19px;
}

.paddingFix {
    padding-left: 0px;
}

.fa-moon-o {
    margin-left: 40%;
    margin-top: 5%;
}

.switch input {
    cursor: pointer;
    position: absolute;
    opacity: 0;
}


/**
 * 1. Adjust this to size
 */

.switch {
    display: inline-block;
    margin-left: 10px;
    font-size: 24px;
    height: 1em;
    width: 2em;
    border-radius: 1em;
    margin-top: 25px;
    display: inline-block;
    position: relative;
    margin-left: 45%;
    font-size: 25px;
    height: 1em;
    width: 2em;
    background: #5d5d5d;
    border-radius: 1em;
}

.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}


.round {
    display: inline-block;
    height: 28px;
    width: 28px;
    line-height: 30px;
    border-radius: 15px;
    background-color: teal;
    color: #FFF;
    text-align: center;
}

.round.round-sm {
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 10px;
    font-size: 0.7em;
}

.round.color {
    background-color: teal;
}

.padding-null {
    padding: 0px;
}

.padding-right {
    padding-left: 0px;
    padding-right: 35px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.fa-map-marker:before {
    font-size: 18px;
}

.sidenav {
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
}

.sidenav.close {
-webkit-animation: animSidenavClose 1s 1;
        animation: animSidenavClose 1s 1;
}

.sidenav.open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
}

.sidenav .navtitle {
    -webkit-transition: all 1s;
    transition: all 1s;
    margin: 2em 2em;
    font-size: 12px;
    text-align: center;
    color: #a0a0a0;
    letter-spacing: 3px;
}


.whitespace {
    width: 100%;
    border: 1px dotted gray;
}

.whitespace:before {
    content: "";
    clear: both;
}

.whitespace:after {
    content: "";
    clear: both;
}

label#switch:after {
    font-family: FontAwesome;
    content: "\f185";
    font-size: 16px;
    position: absolute;
    left: 30px;
    margin-top: 1px;
    z-index: 0;
    color: #fff4a2;
}

label#switch:before {
    font-family: FontAwesome;
    content: "\f186";
    position: absolute;
    color: #2d8264;
    z-index: 0;
    left: 8px;
    margin-top: 1px;
    font-size: 15px;
}

.iconfix {
    z-index: 1;
    position: absolute;
}

.Slider {
    padding: 0px;
    border-bottom: solid white 1px;
}

.range > input {
    width: 100%;
}

.range {
    padding: 0px;
}

.text > input {
    width: 100%;
    color: black;
}

.text {
    padding-left: 0px;
}

.Slider > input {
    display: block;
    width: 100%;
    z-index: 1;
}


/* COLOR PICKER */

/*colorbox when sidenav is open*/
.sidenav.open .color-box, .sidenav.open .navtitle {
-webkit-transform: translateX(0%);
        transform: translateX(0%);
-webkit-animation: delay1open 1s 1;
        animation: delay1open 1s 1;
}

.sidenav.open .color-box {
-webkit-transform: translateX(0%);
        transform: translateX(0%);
-webkit-animation: delay2open 1s 1;
        animation: delay2open 1s 1;
}

/*colorbox when sidenav is closed*/

.sidenav .color-box, .sidenav .navtitle {
-webkit-transform: translateX(-100%);
        transform: translateX(-100%);
-webkit-animation: delay1close 1s 1;
        animation: delay1close 1s 1;

}

.sidenav .color-box {
-webkit-transform: translateX(-100%);
        transform: translateX(-100%);
-webkit-animation: delay2close 1s 1;
        animation: delay2close 1s 1;

}

.color-box {
    height: 150px;
    width: 320px;
    -webkit-transition: width 1s;
    transition: width 1s;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 -8px 9px -7px rgba(0,0,0,0.3);
    display: table;
}

.color-box div {
    display: table-cell;
    vertical-align: middle;
}

.color-box span:nth-child(1) {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    padding-bottom: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    display: inline-block;
}

.color-box .colorName {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.color-box:hover .colorName {
    border-bottom: 2px solid white;
}
span.colorDescription {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    display: block;
    padding-top: 10px;
}

.center-block {
    margin-top: 50px;
    width: 250px;
}

@-webkit-keyframes delay1open {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    50% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        -webkit-animation-timing-function: ease;
                animation-timing-function: ease;
    }
}

@keyframes delay1open {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    50% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        -webkit-animation-timing-function: ease;
                animation-timing-function: ease;
    }
}

@-webkit-keyframes delay1close {
    0% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        -webkit-animation-timing-function: ease;
                animation-timing-function: ease;
    }
    50% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        
    }
}

@keyframes delay1close {
    0% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        -webkit-animation-timing-function: ease;
                animation-timing-function: ease;
    }
    50% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        
    }
}

@-webkit-keyframes delay2open {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    50% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }

    75% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        -webkit-animation-timing-function: ease;
                animation-timing-function: ease;
    }
}

@keyframes delay2open {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    50% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }

    75% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        -webkit-animation-timing-function: ease;
                animation-timing-function: ease;
    }
}

@-webkit-keyframes delay2close {
    0% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        -webkit-animation-timing-function: ease;
                animation-timing-function: ease;
    }

    50% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }

    75% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        
    }
}

@keyframes delay2close {
    0% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        -webkit-animation-timing-function: ease;
                animation-timing-function: ease;
    }

    50% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }

    75% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        
    }
}

@-webkit-keyframes animColorClose {
    0% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        -webkit-animation-timing-function: ease;
                animation-timing-function: ease;
    }
   
    100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

@keyframes animColorClose {
    0% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        -webkit-animation-timing-function: ease;
                animation-timing-function: ease;
    }
   
    100% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

/* Add all colors here */
.orange {
    background-color: #FF7619;
}

.blue {
    background-color: #50c8b4;
}

.red {
    background-color: #c85050;
}

.green {
    background-color: #b2c850;
}


/* Add all fonts here as classes */

.Lato {
    font-family: Lato;
}

.Arial {
    font-family: Arial;
}

.Verdana {
    font-family: Verdana;
}

.Cambria {
    font-family: Cambria;
}

.Raleway {
    font-family: Raleway;
}

.Montserrat {
    font-family: Montserrat;
}

.Roboto {
    font-family: Roboto;
}

/* Font-Picker */

h4 {
    padding-bottom: 10px;
}

h4.arial {
    font-family: arial;
    font-family: verdana;
    font-family: Cambria;
    font-family: 'Lato';
    font-family: 'Raleway';
    font-family: 'Montserrat';
    font-family: 'Roboto';
}

.fonts-container a:hover {
    color: lightseagreen;
    cursor: pointer;
}

.fonts-container .active-font {
    color: lightseagreen;
}

.fa-check {
    color: lightseagreen;
    float: right;
    line-height: inherit;
}

.active-font:after {
    content: "\f00c";
    font-family: fontAwesome;
    float: right;
}


/*NAVBAR*/

nav > ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.cd-stretchy-nav {
  position: fixed;
  z-index: 2;
  top: 40px;
  right: 5%;
  pointer-events: none;
}
.cd-stretchy-nav .stretchy-nav-bg {
  /* this is the stretching navigation background */
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #9acd91;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: height 0.2s, box-shadow 0.2s;
  transition: height 0.2s, box-shadow 0.2s;
}

.cd-stretchy-nav.nav-is-visible {
  pointer-events: auto;
}
.cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
  height: 100%;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.cd-nav-trigger {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  pointer-events: auto;
}

.cd-nav-trigger span, .cd-nav-trigger span::after, .cd-nav-trigger span::before {
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #ffffff;
}
.cd-nav-trigger span {
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background-color 0.2s;
  transform: translateX(-50%) translateY(-50%);
  transition: background-color 0.2s;
}
.cd-nav-trigger span::after, .cd-nav-trigger span::before {
  content: '';
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.cd-nav-trigger span::before {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger span::after {
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
}

.no-touch .cd-nav-trigger:hover ~ .stretchy-nav-bg {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}
.nav-is-visible .cd-nav-trigger span {
  background-color: transparent;
}
.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-stretchy-nav ul {
  height: 30px;
  position: relative;
  z-index: 2;
  padding: 60px 0 0;
  visibility: hidden;
  -webkit-transition: visibility 0.3s;
  transition: visibility 0.3s;
  text-align: right;
}

.cd-stretchy-nav ul a {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 calc(1em + 60px) 0 1em;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.4rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.cd-stretchy-nav ul a::after {
  /* navigation item icons */
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  right: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  opacity: .95;
  background: url(../img/cd-sprite-1.svg) no-repeat 0 0;
}

.cd-stretchy-nav ul a::before {
  /* line visible next to the active navigation item */
  content: '';
  position: absolute;
  width: 3px;
  height: 16px;
  top: 50%;
  right: 60px;
  -webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
  transform: translateX(3px) translateY(-50%) scaleY(0);
  background-color: #0a9581;
}

.cd-stretchy-nav ul li:first-of-type a::after {
  /* change custom icon using image sprites */
  background-position: -32px 0;
}
.cd-stretchy-nav ul li:nth-of-type(2) a::after {
  background-position: -64px 0;
}
.cd-stretchy-nav ul li:nth-of-type(3) a::after {
  background-position: -48px 0;
}
.cd-stretchy-nav ul li:nth-of-type(4) a::after {
  background-position: 0 0;
}
.cd-stretchy-nav ul li:nth-of-type(5) a::after {
  background-position: -16px 0;
}

.cd-stretchy-nav ul span {
  /* navigation item labels */
  display: block;
  opacity: 0;
  -webkit-transform: translateX(-25px);
  transform: translateX(-25px);
}

.cd-stretchy-nav.nav-is-visible ul {
  visibility: visible;
}

.cd-stretchy-nav.nav-is-visible ul a::after {
  /* navigation item icons */
  -webkit-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-animation: scaleIn 0.15s backwards;
  animation: scaleIn 0.15s backwards;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.cd-stretchy-nav.nav-is-visible ul a.active {
  color: #ffffff;
}
.cd-stretchy-nav.nav-is-visible ul a.active::after {
  opacity: 1;
}

.cd-stretchy-nav.nav-is-visible ul a.active::before {
  -webkit-transform: translateX(3px) translateY(-50%) scaleY(1);
  transform: translateX(3px) translateY(-50%) scaleY(1);
  -webkit-transition: -webkit-transform 0.15s 0.3s;
  transition: -webkit-transform 0.15s 0.3s;
  transition: transform 0.15s 0.3s;
  transition: transform 0.15s 0.3s, -webkit-transform 0.15s 0.3s;
}

.cd-stretchy-nav.nav-is-visible ul span {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: slideIn 0.15s backwards;
  animation: slideIn 0.15s backwards;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover {
  color: #ffffff;
}
.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover::after {
  opacity: 1;
}
.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover span {
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
}
.cd-stretchy-nav.nav-is-visible ul li:first-of-type a::after,
.cd-stretchy-nav.nav-is-visible ul li:first-of-type span {
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) span {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) span {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) span {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(5) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(5) span {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

/* -------------------------------- 

add-content navigation style

-------------------------------- */
.cd-stretchy-nav.add-content {
  bottom: 50px;
  top: auto;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 300px;
}
.cd-stretchy-nav.add-content .stretchy-nav-bg {
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #8ac57f;
  -webkit-transition: width 0.2s, box-shadow 0.2s;
  transition: width 0.2s, box-shadow 0.2s;
}
.cd-stretchy-nav.add-content.nav-is-visible .stretchy-nav-bg {
  width: 100%;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.cd-stretchy-nav.add-content .cd-nav-trigger {
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #9acd91;
}
.cd-stretchy-nav.add-content .cd-nav-trigger span {
  background-color: transparent;
}
.cd-stretchy-nav.add-content .cd-nav-trigger span::before {
  /* used to create the plus icon */
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.cd-stretchy-nav.add-content .cd-nav-trigger span::after {
  /* used to create the plus icon */
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.cd-stretchy-nav.add-content.nav-is-visible .cd-nav-trigger {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
.cd-stretchy-nav.add-content.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.cd-stretchy-nav.add-content.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.cd-stretchy-nav.add-content ul {
  padding-top: 0;
}
.cd-stretchy-nav.add-content ul::after {
  clear: both;
  content: "";
  display: table;
}
.cd-stretchy-nav.add-content ul li {
  display: inline;
  float: left;
  width: 60px;
}
.cd-stretchy-nav.add-content ul li:nth-of-type(2) {
  /* space occupied by the navigation trigger */
  margin-right: 60px;
}
.cd-stretchy-nav.add-content ul a {
  padding: 0;
  height: 60px;
  width: 100%;
}
.cd-stretchy-nav.add-content ul a::after {
  top: 50%;
  left: 22px;
  right: auto;
  -webkit-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  background-image: url(../img/cd-sprite-2.svg);
}
.cd-stretchy-nav.add-content ul li:first-of-type a::after {
  background-position: -16px 0px;
}
.cd-stretchy-nav.add-content ul li:nth-of-type(2) a::after {
  background-position: 0px 0px;
}
.cd-stretchy-nav.add-content ul li:nth-of-type(3) a::after {
  background-position: -48px 0px;
}
.cd-stretchy-nav.add-content ul li:nth-of-type(4) a::after {
  background-position: -32px 0px;
}
.cd-stretchy-nav.add-content ul li:first-of-type a::after,
.cd-stretchy-nav.add-content ul li:nth-of-type(4) a::after {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.cd-stretchy-nav.add-content ul li:nth-of-type(2) a::after,
.cd-stretchy-nav.add-content ul li:nth-of-type(3) a::after {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.cd-stretchy-nav.add-content.nav-is-visible ul a::after {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
  -webkit-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
}

.cd-stretchy-nav.add-content ul span {
  position: absolute;
  left: 0;
  top: -20px;
  width: 100%;
  padding: 0.6em 0;
  opacity: 0;
  visibility: hidden;
  background-color: lightseagreen;
  border-radius: 2px;
  font-size: 1.2rem;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
  /* reset default style */
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.cd-stretchy-nav.add-content ul span::after {
  /* triangle below the tooltip */
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-top-color: lightseagreen;
}

.cd-stretchy-nav.add-content.nav-is-visible ul span {
  /* reset default style */
  -webkit-animation: none;
  animation: none;
}

.no-touch .cd-stretchy-nav.add-content.nav-is-visible ul a:hover span {
  opacity: 1;
  visibility: visible;
  /* reset default style */
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* -------------------------------- 

edit content

-------------------------------- */
.cd-editable-content {
  /* used to wrap the image and the navigation */
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
}
.cd-editable-content img {
  display: block;
  border-radius: .25em;
}

.cd-stretchy-nav.edit-content {
  height: 30px;
  position: absolute;
  top: 5px;
  right: 15px;
  opacity: 0;
}

#workItems:hover nav.cd-stretchy-nav.edit-content {
    opacity: 1;
}

.educationItem:hover nav.cd-stretchy-nav.edit-content {
    opacity: 1;
}

.certifications:hover nav.cd-stretchy-nav.edit-content {
    opacity: 1;
}

.cd-stretchy-nav.edit-content .stretchy-nav-bg {
  height: 30px;
  width: 30px;
  background-color: rgba(32, 178, 170, 0.7);
  box-shadow: none;
}

.cd-stretchy-nav.edit-content:hover .stretchy-nav-bg {
    background-color: #20b2aa !important;
}

.cd-stretchy-nav.edit-content.nav-is-visible .stretchy-nav-bg {
  width: 100%;
  background-color: lightseagreen;
  box-shadow: none;
}

.cd-stretchy-nav.edit-content .cd-nav-trigger {
  height: 30px;
  width: 30px;
}
.cd-stretchy-nav.edit-content .cd-nav-trigger span {
  opacity: 0;
  background-color: transparent;
}
.cd-stretchy-nav.edit-content .cd-nav-trigger span::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cd-stretchy-nav.edit-content .cd-nav-trigger span::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-stretchy-nav.edit-content .cd-nav-trigger span, .cd-stretchy-nav.edit-content .cd-nav-trigger span::before, .cd-stretchy-nav.edit-content .cd-nav-trigger span::after {
  /* used to create the 'X' icon when the navigation is open */
  width: 12px;
}
.cd-stretchy-nav.edit-content .cd-nav-trigger::after {
  /* edit icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/cd-sprite-3.svg) no-repeat 0 0;
}
.cd-stretchy-nav.edit-content .cd-nav-trigger span, .cd-stretchy-nav.edit-content .cd-nav-trigger::after {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.no-touch .cd-stretchy-nav.edit-content .cd-nav-trigger:hover ~ .stretchy-nav-bg {
  box-shadow: none;
  background-color: lightseagreen;
}

.cd-stretchy-nav.edit-content.nav-is-visible .cd-nav-trigger span {
  opacity: 1;
}
.cd-stretchy-nav.edit-content.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-stretchy-nav.edit-content.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.cd-stretchy-nav.edit-content.nav-is-visible .cd-nav-trigger::after {
  /* hide edit icon */
  opacity: 0;
}

.cd-stretchy-nav.edit-content ul {
  padding-top: 0px;
  padding-right: 30px;
}

.cd-stretchy-nav.edit-content ul li {
  padding-top: 0px;
  float: right;
}


.cd-stretchy-nav.edit-content ul a {
  margin: 0px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
}

.cd-stretchy-nav.edit-content ul a:hover {
    color: white;
}
.cd-stretchy-nav.edit-content ul a::after {
  right: 7px;
  background-image: url(../img/cd-sprite-3.svg);
}

.cd-stretchy-nav.edit-content ul li a::after::hover {
    opacity: 1;
    color: white;
}

.cd-stretchy-nav.edit-content ul li:first-of-type a::after {
  font-family: FontAwesome;
  pointer-events:none;
  content: "\f067";
  background-image: none;
  right: 30%;
  top:30%;
}

.cd-stretchy-nav.edit-content ul li:nth-of-type(2) a::after {
  background-position: -64px 0;
  opacity: 0.6;
}

.cd-stretchy-nav.edit-content ul li:nth-of-type(2) a:hover::after {
  background-position: -64px 0;
  opacity: 1;
}


.cd-stretchy-nav.edit-content ul li:nth-of-type(3) a::after {
  background-position: -48px 0;
}

.cd-stretchy-nav.edit-content ul li:nth-of-type(4) a::after {
  background-position: -64px 0;
}


.cd-stretchy-nav.edit-content ul span {
  position: absolute;
  top: 0;
  right: 35px;
  height: 30px;
  line-height: 30px;
  padding: 0 1em;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 2px;
  text-align: center;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
}

.cd-stretchy-nav.edit-content ul span::after {
  /* triangle below the tooltip */
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-left-color: rgba(0, 0, 0, 0.55);
}

.cd-stretchy-nav.edit-content.nav-is-visible ul span {
  /* reset default style */
  -webkit-animation: none;
  animation: none;
}
.no-touch .cd-stretchy-nav.edit-content.nav-is-visible ul a:hover span {
  opacity: 1;
  visibility: visible;
  /* reset default style */
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* -------------------------------- 

main content basic style

-------------------------------- */
.cd-main-content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 100px 0;
  background-color: #003c5d;
}


@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
  }
}

/* -------------------------------- 

keyframes

-------------------------------- */
@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
  }
}
@-moz-keyframes scaleIn {
  from {
    -moz-transform: translateY(-50%) scale(0);
  }
  to {
    -moz-transform: translateY(-50%) scale(1);
  }
}

@keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
  }
}

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  from {
    opacity: 0;
    -moz-transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.wrapper {
    width: 100%;
    float: left;
}


.innerWrapper > div {
    display: inline-block;
    margin: 0 2%;
    width: 100%;
}

.innerWrapper {
    column-count: 2;
    column-fill: auto;
}

.wrapper .profileSummary {
    margin: 0px;
}



/* INPUT SLIDER */

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 13px;
  width: 24px;
  border-radius: 12px;
  background: #50C8B4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #50555C;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 13px;
  width: 24px;
  border-radius: 12px;
  background: #50C8B4;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 13px;
  width: 24px;
  border-radius: 12px;
  background: #50C8B4;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #50555C;
}
input[type=range]:focus::-ms-fill-upper {
  background: #50555C;
}